<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Dash board</h3>
      </div>
      <ul class="list-unstyled components">
          <li>
              <a routerLink="">Home</a>
          </li>
          <li>
              <a routerLink="ticket">Ticket</a>
          </li>
      </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" (click) = "toggleClick()" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>&#9776;</span>
            </button>
        </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
